:root {
  font-family: "Inter";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Inter";
  src: url("../src/assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

body{
  background: #fff;
}

a {
  text-decoration-line: none;
}

button{
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

ul{
  display: flex;
  align-items: center;
  list-style: none;
}
